
.btn{
    border: none;

}

.verde{
    color: green !important;
}



.oradores{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.conocer{
    font-weight: lighter;
    color: grey;
}
.oradores1{
    font-weight: 500;
}

.logo{
    float: left;
}
.img-logo{
    width: 100px;
    height: 75px;
}
.playa-img{
    width: 650px;
    height: 400px;
    

}
.playa{
    float: left;
}
.playa-img{
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}
.miCaja{
    float: right;
    padding: 10px;
    height: 400px;
    background-color: grey;
    color: white;
    box-sizing: border-box;
}

.boton{
    background-color: transparent;
    color: white;
    border-radius: 3px;
    border: 1px solid white;
    padding: 8px;
    width: 110px;

}
.bs-playa{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;    
}
.anotate{
    text-align: center;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}
#btn-enviar{
    color: white;
    background-color: #87DB4A;
    border-radius: 7px;
    border: none;
    margin-bottom: 10px;
    padding: 7px;

}
footer{
    padding: 10px;
    color: white;
    background-color: #0b0662;
    box-sizing: border-box;
    
}
